.git
.github
.vscode
.idea
.angular
**/.angular
.DS_Store
**/.DS_Store

.env
.env.*
!.env.example

charts
coverage
**/coverage
dist
**/dist
e2e
functional-output
reports
**/reports
test-results
**/test-results
playwright_tests
playwright.config.ts
test
**/test

node_modules
**/node_modules
.yarn/cache
**/.yarn/cache
.yarn/global
.yarn/install-state.gz
.yarn/unplugged
**/.cache
**/.parcel-cache

Jenkinsfile*
README.md
playwright-report
blob-report
trace
mochawesome-report
smoke-output
tmp
.sessions
logs
dummy.pdf
*.iml
*.log
**/*.log

payload.json
payload.json.gz
