.git
.github
.angular
**/.angular
.DS_Store
**/.DS_Store

.env
.env.*
!.env.example

charts
coverage
**/coverage
dist
**/dist
functional-output
reports
**/reports
test-results
**/test-results

node_modules
**/node_modules
.yarn/cache
**/.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
**/.cache

Jenkinsfile*
README.md
playwright-report
trace
tmp
logs
*.log
**/*.log

payload.json
payload.json.gz
