## Generate a local .env from Azure Key Vault:
##   yarn env:populate:aat
## Keep live secret values out of git.

MV_USE_AAT=true
PORT=1337

DOCASSEMBLY_URL=http://dg-docassembly-aat.service.core-compute-aat.internal
DM_STORE_APP_URL=http://dm-store-aat.service.core-compute-aat.internal
HRS_API_URL=http://em-hrs-api-aat.service.core-compute-aat.internal
ANNOTATION_API_URL=http://em-anno-aat.service.core-compute-aat.internal
NPA_URL=http://em-npa-aat.service.core-compute-aat.internal
ICP_API_URL=https://em-icp.aat.platform.hmcts.net

IDAM_URL=http://idam-api.aat.platform.hmcts.net
IDAM_CLIENT_ID=webshow
IDAM_SECRET=
IDAM_PASSWORD=
REDIRECT_URL=https://xui-media-viewer-aat.service.core-compute-aat.internal/oauth2/callback

S2S_URL=http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
S2S_MICROSERVICE=em_gw
S2S_KEY=

MV_SMOKE_PDF_DOCUMENT_ID=
MV_SMOKE_IMAGE_DOCUMENT_ID=
MV_SMOKE_CASE_ID=
